.text-icon {
    height: 27px;
    width: 58px;
    position: absolute;
    margin: 0 !important;
    right: -15.1px;
    bottom: 0.6px;
    z-index: 1;
  }
  .small-heading {
    width: 477.9px;
    height: 29.1px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    white-space: nowrap;
    max-width: 100%;
    box-sizing: border-box;
    padding-right: var(--padding-xl);
  }
  .for-smart-people,
  .smart-living-style {
    margin: 0;
  }
  .heading,
  .logo {
    position: relative;
    font-weight: 800;
    font-family: inherit;
  }
  .heading {
    margin: 0;
    align-self: stretch;
    height: 139.9px;
    font-size: inherit;
    line-height: 55px;
    display: inline-block;
    flex-shrink: 0;
    z-index: 2;
  }
  .logo {
    font-size: var(--font-size-4xl);
    color: var(--text);
    white-space: nowrap;
    z-index: 3;
    margin: -118px 0 0;
  }
  .heading-parent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 140px;
    max-width: 100%;
  }
  .active-indicater,
  .menu {
    position: relative;
    z-index: 3;
  }
  .menu {
    white-space: nowrap;
  }
  .active-indicater {
    width: 35.3px;
    height: 1px;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
  }
  .active-indicator {
    height: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2px 0;
  }
  .menu1,
  .menu2 {
    position: relative;
    z-index: 3;
  }
  .active-indicator-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .card,
  .featured,
  .flat {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .featured {
    width: 253px;
    flex-direction: column;
    padding: var(--padding-9xl) 0 0;
    box-sizing: border-box;
    margin-left: -225px;
    font-size: var(--font-size-mid);
    font-family: var(--font-dm-sans);
  }
  .card,
  .flat {
    max-width: 100%;
  }
  .flat {
    align-self: stretch;
    flex-direction: row;
    flex-shrink: 0;
    font-size: 41px;
    color: var(--color-black);
    font-family: var(--font-manrope);
  }
  .card {
    flex: 1;
    flex-direction: column;
    gap: 1px 0;
  }
  .featured-card-container,
  .vector {
    flex-shrink: 0;
    max-width: 100%;
    box-sizing: border-box;
  }
  .vector {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-12xs) 0 var(--padding-5xs);
    text-align: left;
    font-size: var(--font-size-mini);
    color: #f90;
    font-family: var(--font-dm-sans);
  }
  .featured-card-container {
    width: 567.6px;
    height: 51.3px;
    position: relative;
    letter-spacing: 0.01em;
    display: inline-block;
    padding-right: var(--padding-xl);
    z-index: 2;
  }
  .button,
  .button-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .button {
    flex: 1;
    flex-direction: column;
    gap: 23px 0;
  }
  .button-wrapper {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 var(--padding-15xl);
    box-sizing: border-box;
  }
  .bg,
  .icon {
    position: relative;
  }
  .bg {
    height: 78.1px;
    width: 587.5px;
    background-color: var(--white);
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.03),
      0 64.8px 46.85px rgba(0, 0, 0, 0.02), 0 38.5px 25.48px rgba(0, 0, 0, 0.02),
      0 20px 13px rgba(0, 0, 0, 0.01), 0 8.1px 6.52px rgba(0, 0, 0, 0.01),
      0 1.9px 3.15px rgba(0, 0, 0, 0.01);
    border: 1px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    display: none;
    max-width: 100%;
  }
  .icon {
    width: 16.3px;
    height: 19.1px;
    z-index: 1;
  }
  .logo-image {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-6xs) 0 0;
  }
  .navbar-menu {
    width: 398.8px;
    border: 0;
    outline: 0;
    font-family: var(--font-manrope);
    font-size: var(--font-size-sm);
    background-color: transparent;
    height: 51.3px;
    position: relative;
    letter-spacing: 0.01em;
    color: rgba(49, 53, 59, 0.3);
    text-align: left;
    display: inline-block;
    max-width: calc(100% - 63px);
    z-index: 1;
  }
  .frame-parent,
  .input-field {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .input-field {
    flex: 1;
    background-color: var(--white);
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.03),
      0 64.8px 46.85px rgba(0, 0, 0, 0.02), 0 38.5px 25.48px rgba(0, 0, 0, 0.02),
      0 20px 13px rgba(0, 0, 0, 0.01), 0 8.1px 6.52px rgba(0, 0, 0, 0.01),
      0 1.9px 3.15px rgba(0, 0, 0, 0.01);
    border: 1px solid var(--color-gainsboro-100);
    padding: var(--padding-4xl) var(--padding-7xl) var(--padding-9xs);
    gap: var(--gap-28xl);
    z-index: 2;
  }
  .frame-parent {
    width: 628px;
    padding: 0 var(--padding-xl) 50px;
  }
  .review-container {
    width: 345.2px;
    position: relative;
    letter-spacing: 0.01em;
    display: inline-block;
    max-width: 100%;
  }
  .text-content-frame {
    height: 23px;
    width: 60px;
    position: relative;
    min-height: 23px;
  }
  .featured-child-image-child {
    height: 18.1px;
    width: 69.2px;
    position: relative;
  }
  .user-reviews-icon {
    height: 20px;
    width: 73px;
    position: relative;
  }
  .text-content-frame1 {
    height: 23px;
    width: 70px;
    position: relative;
    min-height: 23px;
  }
  .card-base,
  .featured-child-image {
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }
  .featured-child-image {
    width: 422px;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .card-base {
    align-self: stretch;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-12xs);
    box-sizing: border-box;
  }
  .active-indicator-devider,
  .fill-featured {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .active-indicator-devider {
    width: 657px;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
    gap: 47px 0;
    font-size: var(--font-size-mid);
  }
  .fill-featured {
    flex: 1;
    gap: 71px 0;
  }
  .header-image-icon,
  .text1 {
    position: relative;
    max-width: 100%;
  }
  .text1 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .header-image-icon {
    height: 435px;
    width: 436.8px;
    object-fit: cover;
    display: none;
  }
  .button-appraide-child {
    height: 79px;
    width: 239.4px;
    position: relative;
    background-color: var(--color-tomato-100);
    display: none;
  }
  .search-now {
    height: 33.2px;
    flex: 1;
    position: relative;
    font-size: var(--font-size-mid);
    letter-spacing: 0.01em;
    display: inline-block;
    font-family: var(--font-manrope);
    color: var(--white);
    text-align: left;
    z-index: 1;
  }
  .button-appraide,
  .email-input-field {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .button-appraide {
    cursor: pointer;
    border: 0;
    padding: var(--padding-lgi) var(--padding-3xs) var(--padding-8xl) 38px;
    background-color: var(--color-tomato-100);
    width: 239px;
    align-items: flex-start;
    justify-content: flex-end;
    white-space: nowrap;
    z-index: 3;
  }
  .button-appraide:hover,
  .button-send:hover,
  .button1:hover,
  .button5:hover {
    background-color: var(--color-tomato-200);
  }
  .email-input-field {
    height: 435px;
    width: 437px;
    margin: 0 !important;
    position: absolute;
    bottom: 60px;
    left: -285px;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 164px 63px;
    background-image: url(./public/email-input-field@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 1;
  }
  .bg1 {
    width: 370.4px;
    height: 617px;
    position: relative;
    background-color: var(--color-lightsteelblue);
    display: none;
    max-width: 100%;
    z-index: 0;
  }
  .featured-listing-title {
    width: 53px;
    height: 16px;
    position: absolute;
    margin: 0 !important;
    bottom: 15.1px;
    left: 56.1px;
    z-index: 1;
  }
  .menu3,
  .menu4,
  .menu5 {
    position: relative;
    white-space: nowrap;
    z-index: 1;
  }
  .location-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .bg-parent,
  .card-frame,
  .text,
  .user-details {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .bg-parent {
    align-self: stretch;
    flex: 1;
    background-color: var(--color-lightsteelblue);
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-39xl) 71px var(--padding-39xl) 37px;
    box-sizing: border-box;
    position: relative;
  }
  .card-frame,
  .text,
  .user-details {
    flex-direction: row;
  }
  .user-details {
    height: 617px;
    width: 370px;
    justify-content: flex-start;
    position: relative;
    min-width: 370px;
    font-size: var(--font-size-mid);
    color: var(--color-black);
    font-family: var(--font-dm-sans);
  }
  .card-frame,
  .text {
    box-sizing: border-box;
  }
  .text {
    width: 1128px;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-xl);
    gap: 0 9px;
  }
  .card-frame {
    align-self: stretch;
    justify-content: flex-end;
    padding: 0 0 var(--padding-21xl);
    flex-shrink: 0;
    text-align: left;
    font-size: var(--font-size-smi);
    color: var(--text);
    font-family: var(--font-manrope);
  }
  .how-it-works {
    margin: 0;
    height: 40.4px;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
  }
  .how-it-works-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-5xs);
  }
  .fill,
  .icon2 {
    position: relative;
  }
  .fill {
    height: 70px;
    width: 79.6px;
    border-radius: var(--br-xl);
    background-color: var(--color-mediumslateblue);
    box-shadow: 0 100px 80px rgba(150, 114, 255, 0.07),
      0 64.8px 46.85px rgba(150, 114, 255, 0.05),
      0 38.5px 25.48px rgba(150, 114, 255, 0.04),
      0 20px 13px rgba(150, 114, 255, 0.04),
      0 8.1px 6.52px rgba(150, 114, 255, 0.03),
      0 1.9px 3.15px rgba(150, 114, 255, 0.02);
    display: none;
  }
  .icon2 {
    height: 27.6px;
    width: 22.1px;
    z-index: 1;
  }
  .icon1 {
    border-radius: var(--br-xl);
    background-color: var(--color-mediumslateblue);
    box-shadow: 0 100px 80px rgba(150, 114, 255, 0.07),
      0 64.8px 46.85px rgba(150, 114, 255, 0.05),
      0 38.5px 25.48px rgba(150, 114, 255, 0.04),
      0 20px 13px rgba(150, 114, 255, 0.04),
      0 8.1px 6.52px rgba(150, 114, 255, 0.03),
      0 1.9px 3.15px rgba(150, 114, 255, 0.02);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: var(--padding-7xl) 30px var(--padding-mid) var(--padding-9xl);
  }
  .research-suburbs {
    align-self: stretch;
    flex: 1;
    position: relative;
    font-weight: 600;
  }
  .image {
    align-self: stretch;
    height: 23px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-4xs) 0 var(--padding-6xs);
    box-sizing: border-box;
  }
  .wonder-twenty-hunted {
    width: 230px;
    flex: 1;
    position: relative;
    font-size: var(--font-size-mini);
    line-height: 26px;
    font-family: var(--font-roboto);
    color: var(--color-darkslategray-100);
    display: inline-block;
  }
  .card1,
  .vector1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .card1 {
    align-self: stretch;
    flex: 1;
    gap: 12px 0;
  }
  .vector1 {
    height: 195px;
    width: 230px;
    gap: 17px 0;
  }
  .office-child {
    align-self: stretch;
    height: 8.1px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
  }
  .office {
    width: 217px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs) var(--padding-6xs) 0 0;
    box-sizing: border-box;
  }
  .fill1,
  .icon4 {
    position: relative;
  }
  .fill1 {
    height: 64.8px;
    width: 74.4px;
    border-radius: var(--br-xl);
    background-color: var(--color-skyblue);
    box-shadow: 0 100px 80px rgba(77, 223, 253, 0.07),
      0 64.8px 46.85px rgba(77, 223, 253, 0.05),
      0 38.5px 25.48px rgba(77, 223, 253, 0.04),
      0 20px 13px rgba(77, 223, 253, 0.04),
      0 8.1px 6.52px rgba(77, 223, 253, 0.03),
      0 1.9px 3.15px rgba(77, 223, 253, 0.02);
    display: none;
  }
  .icon4 {
    height: 25.6px;
    width: 20.7px;
    z-index: 1;
  }
  .icon3 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-mid) var(--padding-7xl) var(--padding-3xl)
      var(--padding-8xl);
    background-color: var(--color-skyblue);
    border-radius: var(--br-xl);
    box-shadow: 0 100px 80px rgba(77, 223, 253, 0.07),
      0 64.8px 46.85px rgba(77, 223, 253, 0.05),
      0 38.5px 25.48px rgba(77, 223, 253, 0.04),
      0 20px 13px rgba(77, 223, 253, 0.04),
      0 8.1px 6.52px rgba(77, 223, 253, 0.03),
      0 1.9px 3.15px rgba(77, 223, 253, 0.02);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .size {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs) 0 0;
  }
  .done-child {
    height: 8.1px;
    width: 210px;
    object-fit: contain;
  }
  .done-child,
  .fill2,
  .icon6 {
    position: relative;
  }
  .fill2 {
    height: 56.6px;
    width: 79.6px;
    border-radius: var(--br-xl);
    background-color: var(--color-plum);
    box-shadow: 0 100px 80px rgba(242, 184, 236, 0.07),
      0 64.8px 46.85px rgba(242, 184, 236, 0.05),
      0 38.5px 25.48px rgba(242, 184, 236, 0.04),
      0 20px 13px rgba(242, 184, 236, 0.04),
      0 8.1px 6.52px rgba(242, 184, 236, 0.03),
      0 1.9px 3.15px rgba(242, 184, 236, 0.02);
    display: none;
  }
  .icon6 {
    height: 22.4px;
    width: 18.6px;
    z-index: 1;
  }
  .icon5 {
    cursor: pointer;
    border: 0;
    padding: 16px var(--padding-9xl) var(--padding-lg) var(--padding-13xl);
    background-color: var(--color-plum);
    border-radius: var(--br-xl);
    box-shadow: 0 100px 80px rgba(242, 184, 236, 0.07),
      0 64.8px 46.85px rgba(242, 184, 236, 0.05),
      0 38.5px 25.48px rgba(242, 184, 236, 0.04),
      0 20px 13px rgba(242, 184, 236, 0.04),
      0 8.1px 6.52px rgba(242, 184, 236, 0.03),
      0 1.9px 3.15px rgba(242, 184, 236, 0.02);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .done,
  .size1,
  .status {
    display: flex;
    justify-content: flex-start;
  }
  .size1 {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 var(--padding-5xs);
  }
  .done,
  .status {
    flex-direction: row;
    max-width: 100%;
  }
  .done {
    align-items: center;
    gap: 0 46px;
  }
  .status {
    align-self: stretch;
    align-items: flex-start;
  }
  .instant-valuation {
    align-self: stretch;
    flex: 1;
    position: relative;
    font-weight: 600;
  }
  .text3 {
    width: 217px;
    height: 21px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
    box-sizing: border-box;
  }
  .conveying-or-northward {
    width: 230px;
    flex: 1;
    position: relative;
    font-size: var(--font-size-mini);
    line-height: 26px;
    font-family: var(--font-roboto);
    color: var(--color-darkslategray-100);
    display: inline-block;
  }
  .card-frame1 {
    height: 105px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 13px 0;
  }
  .track-property {
    align-self: stretch;
    position: relative;
    font-weight: 600;
  }
  .track-property-wrapper {
    height: 19px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 var(--padding-lgi);
    box-sizing: border-box;
  }
  .moderate-children-at {
    width: 230px;
    position: relative;
    font-size: var(--font-size-mini);
    line-height: 26px;
    font-family: var(--font-roboto);
    color: var(--color-darkslategray-100);
    display: inline-block;
  }
  .card-frame2,
  .header-frame {
    display: flex;
    align-items: flex-end;
  }
  .card-frame2 {
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px 0;
  }
  .header-frame {
    width: 615px;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .confidential {
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    gap: 23px 0;
    min-width: 520px;
    margin-left: -12px;
  }
  .confidential,
  .featured-card,
  .frame-group,
  .text2 {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  .text2 {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    row-gap: 20px;
    text-align: center;
    font-size: var(--font-size-3xl);
  }
  .featured-card,
  .frame-group {
    flex-shrink: 0;
  }
  .frame-group {
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 88px 0;
  }
  .featured-card {
    width: 1061px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 var(--padding-4xl) 169px var(--padding-xl);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-21xl);
    color: var(--color-black);
    font-family: var(--font-manrope);
  }
  .best-real-estate {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
  }
  .colonel-gravity-get {
    width: 461.2px;
    position: relative;
    font-size: var(--font-size-base);
    line-height: 24px;
    display: inline-block;
  }
  .vector2 {
    width: 461px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px 0;
    max-width: 100%;
  }
  .fill4 {
    height: 65px;
    width: 196.2px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--color-tomato-100);
    box-shadow: 0 100px 80px rgba(248, 90, 71, 0.07),
      0 64.8px 46.85px rgba(248, 90, 71, 0.05),
      0 38.5px 25.48px rgba(248, 90, 71, 0.04),
      0 20px 13px rgba(248, 90, 71, 0.04), 0 8.1px 6.52px rgba(248, 90, 71, 0.03),
      0 1.9px 3.15px rgba(248, 90, 71, 0.02);
    display: none;
  }
  .view-all-property {
    position: relative;
    font-size: var(--font-size-mid);
    font-weight: 500;
    font-family: var(--font-manrope);
    color: var(--white);
    text-align: center;
    z-index: 1;
  }
  .button1 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-2xl) var(--padding-mid) var(--padding-2xl)
      var(--padding-17xl);
    background-color: var(--color-tomato-100);
    border-radius: var(--br-8xs);
    box-shadow: 0 100px 80px rgba(248, 90, 71, 0.07),
      0 64.8px 46.85px rgba(248, 90, 71, 0.05),
      0 38.5px 25.48px rgba(248, 90, 71, 0.04),
      0 20px 13px rgba(248, 90, 71, 0.04), 0 8.1px 6.52px rgba(248, 90, 71, 0.03),
      0 1.9px 3.15px rgba(248, 90, 71, 0.02);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap;
  }
  .fill3,
  .text4 {
    display: flex;
    align-items: flex-start;
  }
  .fill3 {
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-7xs) 0 0;
  }
  .text4 {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    gap: var(--gap-xl);
  }
  .residential-property {
    position: relative;
    font-weight: 600;
  }
  .image-child {
    align-self: stretch;
    height: 1px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
  }
  .image1 {
    height: 38px;
    width: 190px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px 0;
    color: var(--color-tomato-100);
  }
  .agriculture-property,
  .commercial-property,
  .industrial-property {
    position: relative;
    flex-shrink: 0;
  }
  .industrial-property {
    width: 162px;
    display: inline-block;
  }
  .menu6 {
    width: 848.7px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 50px;
    max-width: 100%;
  }
  .fill6,
  .image-03-icon {
    border-radius: var(--br-8xs);
  }
  .image-03-icon {
    height: 252px;
    width: 307.7px;
    position: relative;
    object-fit: cover;
    display: none;
  }
  .fill6 {
    height: 21.8px;
    width: 62.4px;
    position: absolute;
    margin: 0 !important;
    top: -5.2px;
    left: calc(50% - 31.4px);
    background-color: var(--color-gray-100);
    border: 1px solid var(--white);
    box-sizing: border-box;
    z-index: 1;
  }
  .featured1 {
    align-self: stretch;
    width: 42.4px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    z-index: 2;
  }
  .featured-prop-group,
  .fill5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .fill5 {
    flex: 1;
    flex-direction: row;
    position: relative;
  }
  .featured-prop-group {
    align-self: stretch;
    flex-direction: column;
    padding: var(--padding-8xs) 0 0;
  }
  .d,
  .fill7 {
    position: relative;
  }
  .fill7 {
    height: 21.8px;
    width: 23.3px;
    border-radius: var(--br-8xs);
    background-color: var(--color-gray-100);
    border: 1px solid var(--white);
    box-sizing: border-box;
    display: none;
  }
  .d {
    width: 7px;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .button3,
  .card-01 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .button3 {
    height: 22px;
    border-radius: var(--br-8xs);
    background-color: var(--color-gray-100);
    border: 1px solid var(--white);
    align-items: center;
    padding: var(--padding-8xs) var(--padding-2xs) var(--padding-9xs)
      var(--padding-8xs);
    z-index: 1;
    text-align: left;
  }
  .card-01 {
    height: 252px;
    align-items: flex-start;
    padding: var(--padding-xs) var(--padding-3xl) var(--padding-191xl);
    gap: 15px;
    background-image: url(./public/card-01@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .card-01,
  .fill8,
  .image-02-icon {
    border-radius: var(--br-8xs);
  }
  .image-02-icon {
    height: 252px;
    width: 307.7px;
    position: relative;
    object-fit: cover;
    display: none;
  }
  .fill8 {
    height: 21.8px;
    width: 62.4px;
    position: absolute;
    margin: 0 !important;
    top: -5.2px;
    left: calc(50% - 31.7px);
    background-color: var(--color-gray-100);
    border: 1px solid var(--white);
    box-sizing: border-box;
    z-index: 1;
  }
  .featured2 {
    align-self: stretch;
    width: 42.4px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    z-index: 2;
  }
  .card-02-inner,
  .fill-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .fill-parent {
    flex: 1;
    flex-direction: row;
    position: relative;
  }
  .card-02-inner {
    align-self: stretch;
    flex-direction: column;
    padding: var(--padding-8xs) 0 0;
  }
  .d1,
  .fill9 {
    position: relative;
  }
  .fill9 {
    height: 21.8px;
    width: 23.3px;
    border-radius: var(--br-8xs);
    background-color: var(--color-gray-100);
    border: 1px solid var(--white);
    box-sizing: border-box;
    display: none;
  }
  .d1 {
    width: 7px;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .button4,
  .card-02 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .button4 {
    height: 22px;
    border-radius: var(--br-8xs);
    background-color: var(--color-gray-100);
    border: 1px solid var(--white);
    align-items: center;
    padding: var(--padding-8xs) var(--padding-2xs) var(--padding-9xs)
      var(--padding-8xs);
    z-index: 1;
    text-align: left;
  }
  .card-02 {
    height: 252px;
    align-items: flex-start;
    padding: var(--padding-xs) var(--padding-3xl) var(--padding-191xl);
    gap: 16px;
    background-image: url(./public/card-02@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .card-02,
  .fill10,
  .image-01-icon {
    border-radius: var(--br-8xs);
  }
  .image-01-icon {
    width: 307.7px;
    height: 252px;
    position: relative;
    object-fit: cover;
    display: none;
  }
  .fill10 {
    height: 21.8px;
    width: 62.4px;
    position: absolute;
    margin: 0 !important;
    top: -5.2px;
    left: calc(50% - 30.1px);
    background-color: var(--color-gray-100);
    border: 1px solid var(--white);
    box-sizing: border-box;
    z-index: 1;
  }
  .featured3 {
    align-self: stretch;
    width: 42.4px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    z-index: 2;
  }
  .fill-group {
    height: 25px;
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 14%;
  }
  .button2,
  .card-03,
  .fill-group {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .card-03 {
    height: 252px;
    border-radius: var(--br-8xs);
    display: flex;
    flex-direction: column;
    padding: var(--padding-mid) var(--padding-2xl);
    box-sizing: border-box;
    background-image: url(./public/card-03@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .button2 {
    align-self: stretch;
    display: grid;
    flex-direction: row;
    padding: 0 var(--padding-11xs) 0 0;
    gap: 0 24px;
    grid-template-columns: repeat(3, minmax(231px, 1fr));
    text-align: center;
    font-size: var(--font-size-xs);
    color: var(--white);
    font-family: var(--font-inter);
  }
  .rectangle,
  .text5 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
  }
  .text5 {
    align-self: stretch;
    align-items: flex-start;
    gap: 39px 0;
    font-size: var(--font-size-lgi);
  }
  .rectangle {
    width: 1013px;
    align-items: flex-end;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    gap: 52px 0;
    flex-shrink: 0;
    text-align: left;
    font-size: var(--font-size-21xl);
    color: var(--color-black);
    font-family: var(--font-manrope);
  }
  .featured-listing-of {
    margin: 0;
    width: 763px;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
    max-width: 100%;
  }
  .featured-listing-of-the-week-wrapper {
    width: 807px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .base {
    height: 548px;
    width: 997px;
    position: relative;
    background-color: var(--color-azure);
    display: none;
    max-width: 100%;
  }
  .image-icon,
  .mask-group-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 325px;
    height: 398px;
    object-fit: contain;
    z-index: 1;
  }
  .image-icon {
    width: 100%;
    height: 100%;
    z-index: 2;
    left: 6px;
    top: 121px;
    transform: scale(2.147);
  }
  .wrapper-image {
    position: absolute;
    top: 236px;
    left: 15px;
    width: 294px;
    height: 212px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image2 {
    height: 448px;
    width: 325px;
    position: relative;
    min-width: 325px;
    max-width: 100%;
  }
  .conveying-or-northward1,
  .the-and-collecting {
    position: relative;
    display: inline-block;
    max-width: 100%;
    z-index: 1;
  }
  .the-and-collecting {
    margin: 0;
    width: 354px;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
  }
  .conveying-or-northward1 {
    width: 326px;
    line-height: 24px;
  }
  .budget,
  .confidential1 {
    height: 16px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .confidential1 {
    color: var(--color-dimgray-200);
    white-space: nowrap;
  }
  .budget-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 9px 0;
  }
  .done1,
  .status1 {
    height: 17px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .status1 {
    white-space: nowrap;
  }
  .done1 {
    color: var(--color-dimgray-200);
  }
  .size-card,
  .status-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 9px 0;
  }
  .status-section {
    padding: 0 15px 0 0;
    gap: 30px 0;
  }
  .m2,
  .size2 {
    height: 17px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .m2 {
    align-self: stretch;
    height: 17.2px;
    color: var(--color-dimgray-200);
  }
  .size-frame {
    width: 88px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 9px 0;
  }
  .location,
  .switzerland {
    height: 17px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .switzerland {
    color: var(--color-dimgray-200);
    white-space: nowrap;
  }
  .office-room-card,
  .review-summary-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 9px 0;
  }
  .office-room-card {
    gap: 28px 0;
  }
  .office1,
  .type {
    height: 17px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .office1 {
    color: var(--color-dimgray-200);
    white-space: nowrap;
  }
  .property-package-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 9px 0;
  }
  .flat1,
  .room {
    height: 17px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .room {
    align-self: stretch;
    height: 17.2px;
    color: var(--color-dimgray-200);
  }
  .property-package-button1 {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    gap: 9px 0;
  }
  .budget-status,
  .office-frame,
  .property-package-button1 {
    display: flex;
    align-items: flex-start;
  }
  .office-frame {
    width: 76px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px 0;
  }
  .budget-status {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    font-size: var(--font-size-mid);
    color: var(--color-black);
  }
  .text8,
  .the-and-collecting-for-the-mot-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .text8 {
    gap: 23px 0;
    font-size: var(--font-size-smi);
    color: var(--color-dimgray-200);
  }
  .the-and-collecting-for-the-mot-parent {
    gap: 28px 0;
  }
  .fill11 {
    height: 39.6px;
    width: 389px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--color-tomato-100);
    box-shadow: 0 100px 80px rgba(248, 90, 71, 0.07),
      0 64.8px 46.85px rgba(248, 90, 71, 0.05),
      0 38.5px 25.48px rgba(248, 90, 71, 0.04),
      0 20px 13px rgba(248, 90, 71, 0.04), 0 8.1px 6.52px rgba(248, 90, 71, 0.03),
      0 1.9px 3.15px rgba(248, 90, 71, 0.02);
    display: none;
    max-width: 100%;
  }
  .yes-i-want {
    height: 16.4px;
    width: 318.2px;
    position: relative;
    font-size: var(--font-size-lg);
    font-weight: 500;
    font-family: var(--font-inter);
    color: var(--white);
    text-align: center;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .button5 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) var(--padding-2xs) var(--padding-2xs);
    background-color: var(--color-tomato-100);
    align-self: stretch;
    border-radius: var(--br-8xs);
    box-shadow: 0 100px 80px rgba(248, 90, 71, 0.07),
      0 64.8px 46.85px rgba(248, 90, 71, 0.05),
      0 38.5px 25.48px rgba(248, 90, 71, 0.04),
      0 20px 13px rgba(248, 90, 71, 0.04), 0 8.1px 6.52px rgba(248, 90, 71, 0.03),
      0 1.9px 3.15px rgba(248, 90, 71, 0.02);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    white-space: nowrap;
    max-width: 100%;
    z-index: 1;
  }
  .text6,
  .text7 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .text7 {
    align-self: stretch;
    display: flex;
    gap: 41px 0;
    max-width: 100%;
  }
  .text6 {
    flex: 1;
    padding: var(--padding-smi) 0 0;
    min-width: 256px;
  }
  .frame-container,
  .mask-group,
  .text6 {
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
  }
  .mask-group {
    align-self: stretch;
    background-color: var(--color-azure);
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 69px 101px var(--padding-91xl);
    gap: 0 99px;
    text-align: left;
    font-size: 26px;
  }
  .frame-container {
    width: 1037px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) var(--padding-lg);
    gap: 49px 0;
    flex-shrink: 0;
    text-align: center;
    font-size: var(--font-size-21xl);
    color: var(--color-black);
    font-family: var(--font-manrope);
  }
  .base1,
  .loved-by-businesses {
    position: relative;
    box-sizing: border-box;
  }
  .loved-by-businesses {
    margin: 0;
    width: 579px;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
    padding-right: var(--padding-xl);
  }
  .base1 {
    width: 315.1px;
    height: 367px;
    border-radius: var(--br-3xs);
    background-color: var(--white);
    border: 1px solid var(--color-whitesmoke);
    display: none;
  }
  .review-icon {
    width: 79.6px;
    height: 16.4px;
    position: relative;
    z-index: 1;
  }
  .moderate-children-at1 {
    width: 270px;
    position: relative;
    line-height: 28px;
    display: inline-block;
    z-index: 1;
  }
  .review-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 34px 0;
  }
  .image-icon1 {
    height: 48px;
    width: 39.8px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
  }
  .jane-cooper,
  .los-angeles-ca {
    align-self: stretch;
    position: relative;
    z-index: 1;
  }
  .los-angeles-ca {
    font-size: var(--font-size-sm);
    color: var(--color-dimgray-100);
  }
  .image-parent,
  .jane-cooper-parent {
    display: flex;
    justify-content: flex-start;
  }
  .jane-cooper-parent {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
  }
  .image-parent {
    width: 175px;
    flex-direction: row;
    align-items: flex-end;
    padding: 0 var(--padding-12xs) 0 0;
    box-sizing: border-box;
    gap: 0 16px;
  }
  .base2,
  .card-011 {
    border-radius: var(--br-3xs);
    background-color: var(--white);
    border: 1px solid var(--color-whitesmoke);
    box-sizing: border-box;
  }
  .card-011 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-33xl) var(--padding-xs) var(--padding-33xl)
      var(--padding-13xl);
    gap: var(--gap-34xl);
    min-width: 236px;
  }
  .base2 {
    width: 315.1px;
    height: 367px;
    position: relative;
    display: none;
  }
  .review-icon1 {
    width: 79.6px;
    height: 16.4px;
    position: relative;
    z-index: 1;
  }
  .the-and-collecting1 {
    width: 270px;
    position: relative;
    line-height: 28px;
    display: inline-block;
    z-index: 1;
  }
  .review-group {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 34px 0;
  }
  .image-icon2 {
    height: 48px;
    width: 39.8px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
  }
  .new-york-city,
  .robert-fox {
    align-self: stretch;
    position: relative;
    z-index: 1;
  }
  .new-york-city {
    font-size: var(--font-size-sm);
    color: var(--color-dimgray-100);
    padding-right: var(--padding-lg);
  }
  .image-group,
  .robert-fox-parent {
    display: flex;
    justify-content: flex-start;
  }
  .robert-fox-parent {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
  }
  .image-group {
    width: 188px;
    flex-direction: row;
    align-items: flex-end;
    padding: 0 var(--padding-12xs) 0 0;
    box-sizing: border-box;
    gap: 0 16px;
  }
  .base3,
  .card-021 {
    border-radius: var(--br-3xs);
  }
  .card-021 {
    flex: 1;
    background-color: var(--white);
    border: 1px solid var(--color-whitesmoke);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-33xl) var(--padding-smi) var(--padding-33xl)
      var(--padding-13xl);
    gap: var(--gap-34xl);
    min-width: 236px;
  }
  .base3 {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0.1px;
    bottom: 0;
    left: -0.1px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.03),
      0 64.8px 46.85px rgba(0, 0, 0, 0.02), 0 38.5px 25.48px rgba(0, 0, 0, 0.02),
      0 20px 13px rgba(0, 0, 0, 0.01), 0 8.1px 6.52px rgba(0, 0, 0, 0.01),
      0 1.9px 3.15px rgba(0, 0, 0, 0.01), 3px 44px 54px rgba(0, 0, 0, 0.08);
  }
  .review-icon2 {
    width: 79.6px;
    height: 16.4px;
    position: relative;
    z-index: 1;
  }
  .sociable-on-as {
    width: 270px;
    position: relative;
    line-height: 28px;
    display: inline-block;
    z-index: 1;
  }
  .frame-div {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 34px 0;
  }
  .image-icon3 {
    height: 48px;
    width: 39.8px;
    border-radius: 50%;
    object-fit: cover;
  }
  .buffalo-nj,
  .image-icon3,
  .leslie-alexander {
    position: relative;
    z-index: 1;
  }
  .buffalo-nj {
    width: 114px;
    font-size: var(--font-size-sm);
    color: var(--color-dimgray-100);
    display: inline-block;
    box-sizing: border-box;
    padding-right: var(--padding-xl);
  }
  .leslie-alexander-parent {
    flex-direction: column;
    align-items: flex-start;
  }
  .card-031,
  .image-container,
  .leslie-alexander-parent {
    display: flex;
    justify-content: flex-start;
  }
  .image-container {
    flex-direction: row;
    align-items: flex-end;
    gap: 0 17px;
  }
  .card-031 {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    padding: 53px var(--padding-smi) 51px var(--padding-13xl);
    box-sizing: border-box;
    position: relative;
    gap: var(--gap-34xl);
    min-width: 236px;
  }
  .card-01-parent,
  .frame-parent-review {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  .card-01-parent {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 0 var(--padding-11xs) 0 0;
    gap: 0 24px;
    font-size: var(--font-size-base);
    color: var(--color-darkslategray-100);
  }
  .frame-parent-review {
    flex-direction: column;
    align-items: flex-start;
    gap: 50px 0;
    max-width: 100%;
  }
  .logo-icon {
    height: 27.4px;
    width: 557.3px;
    position: relative;
    max-width: 100%;
  }
  .check-our-pricing {
    text-decoration: underline;
    color: #2cbde7;
  }
  .give-us-a-container {
    width: 274px;
    position: relative;
    line-height: 24px;
    display: inline-block;
    flex-shrink: 0;
  }
  .menu-parent-footer {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    gap: var(--gap-xl);
  }
  .call-to-action-footer {
    width: 977px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 var(--padding-17xl) 0 var(--padding-xl);
    box-sizing: border-box;
    font-size: var(--font-size-base);
    color: var(--color-darkslategray-100);
    font-family: var(--font-inter);
  }
  .call-to-action-footer,
  .featured-card-title,
  .review-input-field-email {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  .featured-card-title {
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 84px 0;
  }
  .review-input-field-email {
    width: 1005px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 0 var(--padding-13xl) var(--padding-3xs);
    box-sizing: border-box;
    flex-shrink: 0;
    text-align: left;
    font-size: var(--font-size-21xl);
    color: var(--color-black);
    font-family: var(--font-manrope);
  }
  .bg2 {
    width: 1155px;
    height: 600px;
    position: relative;
    background-color: var(--color1);
    display: none;
    max-width: 100%;
    z-index: 0;
  }
  .active-indicator1 {
    width: 29.9px;
    height: 1px;
    position: absolute;
    margin: 0 !important;
    bottom: 103px;
    left: 452px;
    border-top: 1px solid var(--text);
    box-sizing: border-box;
    z-index: 1;
  }
  .heading1,
  .small-heading1 {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 144.2%;
  }
  .heading1 {
    margin: 0;
    align-self: stretch;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    z-index: 2;
  }
  .small-heading1 {
    height: 25px;
    font-size: var(--font-size-xl);
    display: inline-block;
    flex-shrink: 0;
    max-width: 100%;
    z-index: 1;
  }
  .heading-group {
    width: 453px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
  }
  .bg3 {
    height: 92.8px;
    width: 550.2px;
    position: relative;
    background-color: var(--white);
    box-shadow: 0 163px 80px rgba(0, 0, 0, 0.04),
      0 105.6px 46.85px rgba(0, 0, 0, 0.03), 0 62.8px 25.48px rgba(0, 0, 0, 0.02),
      0 32.6px 13px rgba(0, 0, 0, 0.02), 0 13.3px 6.52px rgba(0, 0, 0, 0.02),
      0 3px 3.15px rgba(0, 0, 0, 0.01);
    display: none;
    max-width: 100%;
  }
  .email,
  .text9 {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 144.2%;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .text9 {
    align-self: stretch;
    height: 19px;
    font-weight: 500;
  }
  .email {
    height: 22px;
    font-size: var(--font-size-xl);
    color: var(--text);
    white-space: nowrap;
  }
  .text-parent {
    width: 215px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 7px 0;
  }
  .bg4,
  .text10 {
    position: relative;
  }
  .bg4 {
    height: 53.9px;
    width: 133.9px;
    background-color: var(--color-tomato-100);
    box-shadow: 0 100px 80px rgba(248, 90, 71, 0.07),
      0 64.8px 46.85px rgba(248, 90, 71, 0.05),
      0 38.5px 25.48px rgba(248, 90, 71, 0.04),
      0 20px 13px rgba(248, 90, 71, 0.04), 0 8.1px 6.52px rgba(248, 90, 71, 0.03),
      0 1.9px 3.15px rgba(248, 90, 71, 0.02);
    display: none;
  }
  .text10 {
    flex: 1;
    font-size: var(--font-size-lg);
    letter-spacing: 0.02em;
    line-height: 19px;
    font-weight: 500;
    font-family: var(--font-dm-sans);
    color: var(--white);
    text-align: left;
    flex-shrink: 0;
    z-index: 1;
  }
  .button-send,
  .email-input-field1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .button-send {
    cursor: pointer;
    border: 0;
    padding: var(--padding-smi) var(--padding-4xs) var(--padding-2xl)
      var(--padding-4xl);
    background-color: var(--color-tomato-100);
    width: 134px;
    box-shadow: 0 100px 80px rgba(248, 90, 71, 0.07),
      0 64.8px 46.85px rgba(248, 90, 71, 0.05),
      0 38.5px 25.48px rgba(248, 90, 71, 0.04),
      0 20px 13px rgba(248, 90, 71, 0.04), 0 8.1px 6.52px rgba(248, 90, 71, 0.03),
      0 1.9px 3.15px rgba(248, 90, 71, 0.02);
    justify-content: flex-end;
    white-space: nowrap;
    z-index: 2;
  }
  .email-input-field1 {
    align-self: stretch;
    background-color: var(--white);
    box-shadow: 0 163px 80px rgba(0, 0, 0, 0.04),
      0 105.6px 46.85px rgba(0, 0, 0, 0.03), 0 62.8px 25.48px rgba(0, 0, 0, 0.02),
      0 32.6px 13px rgba(0, 0, 0, 0.02), 0 13.3px 6.52px rgba(0, 0, 0, 0.02),
      0 3px 3.15px rgba(0, 0, 0, 0.01);
    justify-content: space-between;
    padding: var(--padding-lgi) var(--padding-21xl) var(--padding-xl)
      var(--padding-17xl);
    max-width: 100%;
    gap: var(--gap-xl);
    z-index: 1;
    font-size: var(--font-size-mid);
    color: rgba(49, 53, 59, 0.2);
  }
  .menu-header {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 78px 0;
    max-width: 100%;
    flex-shrink: 0;
  }
  .devider,
  .email-field-container {
    box-sizing: border-box;
    max-width: 100%;
  }
  .email-field-container {
    width: 577px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 85px var(--padding-8xl);
  }
  .devider {
    width: 713.1px;
    height: 1px;
    position: relative;
    border-top: 1px solid var(--color);
    z-index: 1;
  }
  .menu7 {
    margin: 0;
    height: 23px;
    font-size: inherit;
    font-weight: 800;
    font-family: inherit;
    display: inline-block;
  }
  .footer-menu,
  .footer-menu1,
  .footer-menu2,
  .footer-menu3,
  .footer-menu4,
  .footer-menu5,
  .menu7 {
    position: relative;
    z-index: 1;
  }
  .email-input-field2,
  .footer-menu-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }
  .email-input-field2 {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-12xs) 0 0;
    box-sizing: border-box;
    gap: 0 44.6px;
    font-size: var(--font-size-smi);
    font-family: var(--font-dm-sans);
  }
  .footer-menu-container {
    width: 709px;
    align-items: flex-end;
    justify-content: space-between;
    gap: var(--gap-xl);
    font-size: var(--font-size-4xl);
  }
  .desktop-1,
  .footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .footer {
    align-self: stretch;
    background-color: var(--color1);
    padding: 39px var(--padding-xl) 91px 24px;
    box-sizing: border-box;
    gap: var(--gap-26xl);
    max-width: 100%;
    flex-shrink: 0;
    text-align: left;
    font-size: 45px;
    color: var(--text);
    font-family: var(--font-manrope);
  }
  .desktop-1 {
    width: 100%;
    background-color: var(--white);
    overflow: hidden;
    gap: 121px 0;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1025px) {
    .frame-group {
      gap: 88px 0;
    }
    .mask-group {
      gap: 0 99px;
      padding-left: 55px;
      padding-right: var(--padding-15xl);
      box-sizing: border-box;
    }
    .featured-card-title {
      gap: 84px 0;
    }
  }
  @media screen and (max-width: 975px) {
    .heading {
      display: none;
    }
    .fill-featured {
      gap: 71px 0;
    }
    .user-details {
      flex: 1;
    }
    .text {
      flex-wrap: wrap;
    }
    .how-it-works {
      font-size: var(--font-size-13xl);
    }
    .done {
      flex-wrap: wrap;
      gap: 0 46px;
    }
    .confidential {
      margin-left: 0;
    }
    .best-real-estate {
      font-size: var(--font-size-13xl);
    }
    .menu6 {
      flex-wrap: wrap;
    }
    .button2 {
      justify-content: center;
      grid-template-columns: repeat(2, minmax(231px, 400px));
    }
    .featured-listing-of {
      font-size: var(--font-size-13xl);
    }
    .image2 {
      flex: 1;
    }
    .mask-group {
      flex-wrap: wrap;
    }
    .loved-by-businesses {
      font-size: var(--font-size-13xl);
    }
    .menu-parent-footer {
      flex-wrap: wrap;
    }
    .heading1 {
      font-size: 36px;
      line-height: 52px;
    }
    .footer {
      gap: var(--gap-26xl);
    }
  }
  @media screen and (max-width: 725px) {
    .input-field {
      gap: var(--gap-28xl);
    }
    .active-indicator-devider {
      gap: 47px 0;
    }
    .text1 {
      min-width: 100%;
    }
    .header-frame {
      flex-wrap: wrap;
    }
    .confidential {
      min-width: 100%;
    }
    .frame-group {
      gap: 88px 0;
    }
    .featured-card {
      padding-bottom: var(--padding-91xl);
      box-sizing: border-box;
    }
    .text4 {
      flex-wrap: wrap;
    }
    .text5 {
      gap: 39px 0;
    }
    .rectangle {
      gap: 52px 0;
    }
    .mask-group {
      gap: 0 99px;
      padding-left: var(--padding-8xl);
      padding-bottom: 66px;
      box-sizing: border-box;
    }
    .frame-container {
      gap: 49px 0;
    }
    .frame-parent-review {
      gap: 50px 0;
    }
    .featured-card-title {
      gap: 84px 0;
    }
    .email-input-field1 {
      flex-wrap: wrap;
    }
    .menu-header {
      gap: 78px 0;
    }
    .email-input-field2 {
      flex-wrap: wrap;
      gap: 0 44.6px;
    }
    .footer-menu-container {
      flex-wrap: wrap;
    }
    .footer {
      padding-top: 25px;
      padding-bottom: 59px;
      box-sizing: border-box;
    }
    .desktop-1 {
      gap: 121px 0;
    }
  }
  @media screen and (max-width: 450px) {
    .active-indicator-parent {
      display: none;
    }
    .featured {
      width: 0;
    }
    .featured-child-image {
      flex-wrap: wrap;
      justify-content: center;
    }
    .fill-featured {
      gap: 71px 0;
    }
    .bg-parent {
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .user-details {
      min-width: 100%;
    }
    .how-it-works {
      font-size: var(--font-size-5xl);
    }
    .instant-valuation,
    .research-suburbs,
    .track-property {
      font-size: var(--font-size-lg);
    }
    .best-real-estate {
      font-size: var(--font-size-5xl);
    }
    .menu6 {
      gap: 0 50px;
    }
    .button2 {
      grid-template-columns: minmax(231px, 1fr);
    }
    .featured-listing-of {
      font-size: var(--font-size-5xl);
    }
    .the-and-collecting {
      font-size: 21px;
    }
    .budget-status {
      flex-wrap: wrap;
    }
    .text7 {
      gap: 41px 0;
    }
    .loved-by-businesses {
      font-size: var(--font-size-5xl);
    }
    .review-parent {
      gap: 34px 0;
    }
    .card-011 {
      gap: var(--gap-34xl);
      padding-top: var(--padding-15xl);
      padding-bottom: var(--padding-15xl);
      box-sizing: border-box;
    }
    .review-group {
      gap: 34px 0;
    }
    .card-021 {
      gap: var(--gap-34xl);
      padding-top: var(--padding-15xl);
      padding-bottom: var(--padding-15xl);
      box-sizing: border-box;
    }
    .frame-div {
      gap: 34px 0;
    }
    .card-031 {
      gap: var(--gap-34xl);
      padding-top: var(--padding-15xl);
      padding-bottom: 33px;
      box-sizing: border-box;
    }
    .heading1 {
      font-size: 27px;
      line-height: 39px;
    }
    .email,
    .small-heading1 {
      font-size: var(--font-size-base);
      line-height: 23px;
    }
    .menu-header {
      gap: 78px 0;
    }
    .menu7 {
      font-size: var(--font-size-lg);
    }
}